


{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}    


{% block body %}

<style>
  .form-control:disabled{
    border: 1px solid black;
  }
</style>

<div class="container min-vh-100 d-flex">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <form action="" class="my-5" style="width: 100%;" method="post">
      <div class="container">
        <div class="row">

          
          <div class="mb-5 py-5 col-6" ">
            <h2 for="about" class="form-label text-center">Current Headline:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              {{ headline|safe }}
            </div>
          </div>
  
          <div class="mb-5 py-5 col-6">
            <h2 for="about" class="form-label text-center">Recommended Headline:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              {{ newHeadline|safe }}
            </div>
            <div class="my-2 d-flex justify-content-around">
              <button class="btn btn-primary">Regenerate</button>
              <button class="btn btn-primary">Copy</button>
            </div>
          </div>






          <div class="mb-5 py-5 col-6" ">
            <h2 for="about" class="form-label text-center">Current About:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              {{ about|safe }}
            </div>
          </div>
  
          <div class="mb-5 py-5 col-6">
            <h2 for="about" class="form-label text-center">Recommended About:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              {{ newAbout|safe }}
            </div>
            <div class="my-2 d-flex justify-content-around">
              <button class="btn btn-primary" >Regenerate</button>
              <button class="btn btn-primary" >Copy</button>
            </div>
          </div>



          <div class="mb-5 py-5 col-12">
            <h2 for="about" class="form-label text-center">Recommendedations Regariding Skills Section:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              The Skills section is crucial for LinkedIn's algorithm. It's how employers find suitable candidates. Avoid listing too many skills (max 50), focus on relevant ones, and arrange them by importance. For career changers, highlight transferable skills.  Include both hard and soft skills. Get endorsements to boost credibility. Ask connections for endorsements using a personalized message, highlighting shared experiences.

            </div>
          </div>



          <div class="mb-5 py-5 col-6" ">
            <h2 for="about" class="form-label text-center">Current EXPERIENCE Section:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              {{ experience|safe }}
            </div>

          </div>
  
          <div class="mb-5 py-5 col-6">
            <h2 for="about" class="form-label text-center">Recommended experience:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              {{ newExperience|safe }}
            </div>
            <div class="my-2 d-flex justify-content-around">
              <button class="btn btn-primary">Regenerate</button>
              <button class="btn btn-primary">Copy</button>
            </div>
          </div>



          <div class="mb-5 py-5 col-12" ">
            <h2 for="about" class="form-label text-center">Linkedin  Recommendations :</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              Would you ever buy something on Amazon with zero reviews? Heck no! Same goes for your LinkedIn profile - you need that social proof.
              Imagine you're a hiring manager looking at two candidate profiles. One has 15 glowing recommendations raving about this person’s skills and accomplishments. The other has 1 or 2 generic recommendations, or maybe even zero. Which one are you going to be more impressed by and call in for an interview? The choice is obvious!
              So get out there and leverage your network to snag some top-notch recommendations. Focus on glowing endorsements from past bosses, coworkers, or clients who can really sing your praises. Make sure they're concrete, quantitative, and tailored to your goals. Don't be shy - a little friendly follow-up can work wonders. Quite possibly, your next job may depend on it. 

            </div>
          </div>


          <div class="mb-5 py-5 col-6" ">
            <h2 for="about" class="form-label text-center">Current Projects:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              {{ projects|safe }}
            </div>

          </div>
  
          <div class="mb-5 py-5 col-6">
            <h2 for="about" class="form-label text-center">Recommended Projects:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              {{ newProjects|safe }}
            </div>
            <div class="my-2 d-flex justify-content-around">
              <button class="btn btn-primary">Regenerate</button>
              <button class="btn btn-primary">Copy</button>
            </div>
          </div>



          

  




  
          <div class="mb-5 py-5 col-12">
            <h2 for="about" class="form-label text-center">Recommendedations Regarding  Education:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              Leverage your education section to tell your professional story. Showcase your education strategically, prioritizing the most recent and relevant degrees. Include details like major, coursework, projects, and honors. Use the description to highlight skills and knowledge gained.
              List all relevant qualifications, even if some are not directly related to your current career goals. Always list your highest qualification as it showcases your academic level. Strategically include keywords in descriptions to enhance your profile's searchability. 
              
              Highlight skills and knowledge acquired during your studies that are relevant to your desired career path. Include all higher education experiences, even if they aren't directly related, but omit high school details. For older degrees consider omitting the year of graduation: This can help prevent unconscious age bias.
            </div>
          </div>


          <div class="mb-5 py-5 col-12" ">
            <h2 for="about" class="form-label text-center">Recommendations Regarding Volunteer Section:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              Showcase your volunteer experience prominently on LinkedIn, alongside your professional work, to demonstrate your well-roundedness and commitment to causes you care about. Leverage both the "Experience" and dedicated "Volunteering" sections to highlight relevant achievements, quantifying your impact and emphasizing transferable skills.
              Remember, volunteer work can be just as valuable as paid experience, demonstrating initiative, passion, and leadership. Optimize this section by crafting compelling descriptions with action-oriented language and specific results. Incorporate visuals and testimonials to further strengthen your profile.
              Select volunteer experiences that align with your target jobs and professional goals, showcasing how your volunteer work complements your career aspirations. By strategically featuring your volunteer experience, you can create a more impactful LinkedIn profile that resonates with potential employers and expands your network.
              
            </div>
          </div>
  
          <div class="mb-5 py-5 col-12">
            <h2 for="about" class="form-label text-center">Recommendations Regarding Licenses and Certifications:</h2>
            <div class="form-control" name="about" id="about" disabled style="height: auto; white-space: pre-wrap; border: 1px solid #ced4da; background-color: #e9ecef;">
              The "Licenses & Certifications" section validates your expertise and boosts your profile's credibility. List all relevant certifications, including those beyond your primary profession, to showcase your diverse skillset. Ensure accuracy and include issuing authority, dates, and (if possible) a link to the certification for verification. Consider adding a brief description highlighting the knowledge and skills acquired through each certification. Prioritize certifications most pertinent to your current career goals at the top.
              Remember: This section demonstrates your commitment to professional development and continuous learning, so keep it updated with new achievements

            </div>
          </div>

        </div>
    </div>

        </div>
      </div>
      {% csrf_token %}




    </form>
  </div>
</div>


{% endblock body %}